
<div class="content">
  <div class="section">
    <div class="section-header">
      <h2>Activities</h2>
    </div>
    <div class="activities-container">
      <div class="activity-column">
        <h3>To be Approved (174)</h3>
        <div class="cards-container">
          <div class="card" [routerLink]="['/detail']" role="button">
            <h3>Client</h3>
            <span class="number">20</span>
          </div>
          <div class="card" [routerLink]="['/detail']" role="button">
            <h3>Client Exchange</h3>
            <span class="number">30</span>
          </div>
          <div class="card" [routerLink]="['/detail']" role="button">
            <h3>Client Depository</h3>
            <span class="number">1</span>
          </div>
          <div class="card" [routerLink]="['/detail']" role="button">
            <h3>Party</h3>
            <span class="number">34</span>
          </div>
          <div class="card" [routerLink]="['/detail']" role="button">
            <h3>Bank Account</h3>
            <span class="number">89</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
